<nav class='nav'>
  <div class='nav-container'>
    <a href='/'><h1>Blogify</h1></a>
    <ul>
      <li><a href='/signup' class='btn-logout'>Sign Up</a></li>
      <li><a class='btn-dark' href='/guest/guestView'><span>See a random post</span></a></li>
    </ul>
  </div>
</nav>

<div class='details-container'>

  {{#with post}}
    <div>
      <h3>{{title}}</h3>
      <p>{{{content}}}</p>
    </div>

    {{#with editorId}}
      <div>
        <h3>
          Written by:
          {{username}}
        </h3>
      </div>
    {{/with}}
  {{/with}}
</div>

<footer id='main-footer' class='text-center p-4'>
  <div class='footer-content'>
    <p>&copy; <span id='year'></span> Blogify</p>
  </div>
</footer>