<nav class='nav'>
  <div class='nav-container'>
    <a href='/'><h1>Blogify</h1></a>
    <ul>
      <li><a href='/profile'>My Profile</a></li>
      <li><a href='/logout' class='btn-logout'>Log Out</a></li>
    </ul>
  </div>
</nav>

<form class='create' action='/create' method='POST'>
  <input type='text' id='title' name='title' placeholder='Enter a title here' />
  <div>
    <textarea id='mytextarea' name='content'></textarea>
  </div>

  <button type='submit' class='btn-form-small'>Create Post</button>
</form>

<footer id='main-footer' class='text-center p-4'>
  <div class='footer-content'>
    <p>&copy; <span id='year'></span> Blogify</p>
  </div>
</footer>