@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;800&family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: var(--light);
}

a {
  text-decoration: none;
}

h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  color: var(--light);
}

h1 {
  font-size: 50px;
  color: var(--light);
}

/* Variables */
:root {
  --light: #f1f1f1;
  --dark: #3f3f3f;
  --red: #c01527;
  --btn-font: 22px;
}

/* Buttons */
.btn-dark {
  font-size: var(--btn-font);
  color: var(--light);
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  padding: 10px 50px;
  margin: 0 5px;
}

.btn-dark:hover,
.btn-form:hover,
.btn-form-small:hover {
  color: var(--dark);
  background-color: var(--light);
  transition: 0.2s ease-in-out;
}

.btn-red {
  display: inline-block;
  padding: 5px 50px;
  line-height: 40px;
  font-size: var(--btn-font);
  color: var(--light);
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  text-align: center;
  position: relative;
  transition: all 0.4s;
}

.btn-red span {
  position: relative;
  z-index: 2;
}

.btn-red:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--red);
  transition: all 0.4s;
}

.btn-red:hover {
  color: var(--light);
}

.btn-red:hover:after {
  width: 100%;
}

.btn-form {
  font-size: 16px;
  color: var(--light);
  background-color: var(--red);
  border-radius: 5px;
  margin-top: 50px;
  width: 100%;
  padding: 15px 0;
  cursor: pointer;
}

.btn-form-small {
  font-size: 16px;
  color: var(--light);
  background-color: var(--red);
  border-radius: 5px;
  width: 60%;
  padding: 15px;
  cursor: pointer;
}

.btn-logout {
  font-size: 16px;
  color: var(--light);
  background-color: var(--red);
  border-radius: 5px;
  padding: 10px 30px;
}

.btn-logout:hover {
  background-color: var(--light);
  color: var(--dark);
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

/* Landing Page */
.bg-dark {
  background-color: #1a1a1a;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  max-width: 1200px;
  margin: auto;
  background-color: #1a1a1a;
  color: var(--light);
}

.main-heading {
  font-size: 50px;
  text-align: center;
}

.title p {
  margin-bottom: 30px;
}

.guest-p {
  text-align: center;
}

.guest-p p {
  margin-bottom: 30px;
}

/* Sign In/Up Page */
.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 30px auto 100px auto;
}

.container-form h1 {
  color: var(--light);
  margin-bottom: 30px;
}

form {
  height: 760px;
  width: 450px;
  padding: 10px 35px;
  color: var(--light);
}

form * {
  letter-spacing: 1px;
  outline: none;
  border: none;
}

.login-form {
  height: 580px;
  width: 450px;
  padding: 30px 35px;
}

form h3 {
  text-align: center;
  margin-bottom: 20px;
}

form h4 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
}

textarea {
  resize: none;
}

body > div > form > h3 {
  margin-top: 0;
}

body > div > div > h1 {
  margin: 0;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input label {
  display: block;
  position: relative;
  border: 1px solid #3f3f3f;
  border-radius: 5px;
  padding: 10px 0;
  color: var(--light);
  cursor: pointer;
  text-align: center;
  width: 180px;
  transition: transform 0.2s ease-out;
}

.file-input label:hover,
.file-input label:focus {
  border: 1px solid #c01527;
}

.file-name {
  position: absolute;
  color: var(--light);
  font-size: 12px;
}

input {
  display: inline-block;
  height: 50px;
  width: 100%;
  background-color: #1a1a1a;
  color: var(--light);
  border: 0.5px solid #3f3f3f;
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 16px;
}

textarea {
  display: inline-block;
  width: 100%;
  background-color: #1a1a1a;
  color: var(--light);
  border: 0.5px solid #3f3f3f;
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 16px;
}

.social {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social div {
  width: 170px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: var(--dark);
  color: #eaf0fb;
  text-align: center;
  cursor: pointer;
}

.social div:hover {
  background-color: var(--red);
  cursor: pointer;
  transition: 0.3s ease;
}

.social .fb {
  margin-left: 25px;
}

.social i {
  margin-right: 4px;
}

.alert {
  padding: 15px;
  background-color: var(--red);
  color: white;
  width: 30vw;
  text-align: center;
  margin: auto;
  border-radius: 5px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: var(--dark);
}

/* Profile Page */
/* Nav Bar */
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #f1f1f1;
  width: 100%;
  margin: 0 auto;
}

.nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container h1 {
  color: var(--light);
  font-size: 38px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav ul a {
  color: var(--light);
  margin: 0 20px;
}

/* Profile Main */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 100px auto;
}

.profile-card {
  margin: 10px;
  min-width: 230px;
  max-width: 385px;
  width: 100%;
  color: var(--dark);
  text-align: center;
  font-size: 14px;
}

.profile-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.profile-card .profile-image {
  display: inline-block;
  width: 90%;
  z-index: 1;
  position: relative;
  padding: 10px;
  border: 2px solid #c01527;
}

.profile-card .profile-image img {
  max-width: 100%;
  height: 300px;
  vertical-align: top;
}

.edit-image {
  text-align: center;
}

.profile-card figcaption {
  width: 100%;
  background-color: var(--light);
  padding: 100px 25px 25px;
  margin-top: -100px;
  display: inline-block;
}

.profile-card h3 {
  color: var(--dark);
  font-weight: 700;
  font-size: 18px;
}

.profile-card p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
  margin-bottom: 20px;
}

body > div > div:nth-child(1) > figure > figcaption > div > a {
  padding: 10px 20px;
  transition: 0.3s ease-in;
}

body > div > div:nth-child(1) > figure > figcaption > div > a:hover {
  background-color: #99101f;
  color: var(--light);
}

.profile-container div:nth-child(2) > h3 {
  margin: 80px 0 30px 0;
}

.profile-container div:nth-child(2) > a {
  margin: 0 5px;
}

#main-footer {
  border-top: 1px solid #f1f1f1;
  background-color: #1a1a1a;
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 2;
}

.footer-content {
  text-align: center;
}

/* Showroom Page */
.grid-container {
  display: grid;
  margin: 100px 200px;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  text-align: center;
}

.blog-box {
  display: block;
  width: 600px;
}

.blog-box p {
  display: inline-block;
  color: var(--light);
  margin: 30px 10px;
  padding: 0;
}

.blog-box a {
  font-size: 16px;
}

.ellipsis {
  height: 100px;
  width: 600px;
  position: relative;
  display: inline-block;
  text-overflow: ellipsis;
  text-align: start;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: wrap;
  color: var(--light);
}

/* Detail Page */
.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 900px;
  margin: 50px auto 100px auto;
}

.details-container p {
  color: var(--light);
}

.details-container h3 {
  margin: 40px 50px;
}

.details-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Create Blog Post Page */
.create {
  width: 850px;
  border-style: none;
  margin: 20px auto 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Media Queries */
/* Ipads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}
